<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hebarcodescanner">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:label="@string/app_name"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- Main scanning + history screen -->
        <activity
            android:name=".FirstTimeSetupActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name="com.example.hebarcodescanner.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Settings screens -->
        <activity android:name="com.example.hebarcodescanner.SettingsActivity" />
        <activity android:name="com.example.hebarcodescanner.WebhookListActivity" />
        <activity android:name="com.example.hebarcodescanner.ItemListActivity" />
        <activity android:name="com.example.hebarcodescanner.TypeListActivity" />
        <activity android:name="com.example.hebarcodescanner.CurrencySettingsActivity" />
        <activity
            android:name="com.example.hebarcodescanner.PresetListActivity"
            android:exported="false"
            android:label="Presets" />
        <activity android:name="com.example.hebarcodescanner.SearchSettingsActivity" />
        <activity
            android:name=".ItemDetailActivity"
            android:exported="false" />
        <activity
            android:name=".MeasurementSettingsActivity"
            android:exported="false" />


        <!-- FileProvider for CSV export -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
